@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles{
    <link href="~/DataTables/DataTables-1.10.24/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
}
<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Statik Sayfalar</h1>
            </div><!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/sayfa-ekle">Yeni Ekle</a></li>
                </ol>
            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.container-fluid -->

</div>
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="PageTable" class="table table-striped table-bordered">
                                @* @{ int i = 0;} *@
                                <thead>
                                    <tr>
                                        <th>..</th>
                                        <th>Sayfa</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/DataTables/DataTables-1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="~/DataTables/DataTables-1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/view-resources/StaticPages/Index.min.js"></script>
}